<h2>Organize A Party</h2>
<form method="POST" class="addStu" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name: </label>
      <input type="text" name="name" required class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Venue: </label>
        <input type="text" name="venue" required class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date: </label>
        <input type="date" name="date" class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Time: </label>
        <input type="time" name="time" class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Party Code </label>
        <input type="text" name="partycode" class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Budget: </label>
        <input type="text" name="budget" required class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email:</label>
        <input type="text" name="smail" required class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Google App Generated Party</label>
        <input type="text" name="spass" required class="form-control" id="exampleInputEmail1">
      </div>
    <button type="submit"  class="btn btn-success">Add</button>
    
</form>