
<div class="optionDiv">



    <button>
     <a href="/partylogin">Orgnized Parties</a>
    </button>
 
          
 <button>
     <a href="/addparty">Organize a party</a> 
 </button>
 <br>
 <br>

</div>