<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Added</title>
</head>
<body>
    <h1>Party Addded Succesfully with Party code : <%=message%></h1>
    <button href="/partylogin1">Login</button>
</body>
</html>