<h2>Give Contribution</h2>
<form method="POST" class="addStu" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name: </label>
      <input type="text" name="name" required class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Party-Code </label>
        <input type="text" name="partycode" required class="form-control" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mobile</label>
        <input type="text" name="mobile" class="form-control"  >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Contribution</label>
        <input type="number" name="contribution" class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Time</label>
        <input type="time" name="time" class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" name="mail" class="form-control" id="exampleInputEmail1" >
      </div>
      
        
    <button type="submit" class="btn btn-success">Contribute</button>
    
</form>